.container {
    font-family: sans-serif;
    background: url("../img/journey-bcg-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 912px;
}

.header {
    background-color: rgba(0, 0, 0, 0.4);
    height: 56px;
}

.header-logo {
    float: left;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 19px 0 16px 150px;
    transition: .2s linear color;
}

.header-logo:hover {
    color: #3cb878;
}

.header-icon-link {
    float: right;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    margin: 19px 25px 17px 0;
}

.calendar-icon {
    width: 20px;
    height: 20px;
    background-position: -64px -15px;
    transition: .2s linear background-position;
}

.calendar-icon:hover {
    background-position: -15px -15px;
}

.forum-icon {
    width: 28px;
    height: 20px;
    background-position: -171px -15px;
    transition: .2s linear background-position;
}

.forum-icon:hover {
    background-position: -113px -15px;
}

.journey-icon {
    width: 20px;
    height: 20px;
    background-position: -279px -15px;
    border-right: 1px #33312f solid;
    padding-right: 25px;
    margin-right: 0;
    transition: .2s linear background-position;
}

.journey-icon:hover {
    background-position: -229px -15px;
}

.header-authorisation-links {
    float: right;
    font-size: 14px;
    color: white;
    margin: 22px 170px 20px 25px;
}

.green-text-link {
    color: #3cb878;
}

.green-text-link:hover {
    text-decoration: underline;
}

.authorisation-form-container {
    width: 100%;
    height: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authorisation-form {
    width: 445px;
    height: 585px;
    background-color: white;
    border-radius: 10px;
    color: white;
}

.form-inner-container {
    margin: 30px 50px;
    color: #434343;
}

.form-header {
    display: flex;
    justify-content: space-between;
}

.form-header-signup {
    position: relative;
    right: 18px;
    font-size: 20px;
}

.form-header-signup:before {
    content: '';
    font-size: 0;
    border: #3cb878 9px solid;
    position: relative;
    right: 32px;
    bottom: 5px;
}

.form-socialnet-container {
    margin-top: 15px;
    height: 46px;
}

.facebook-btn {
    float: left;
    width: 157px;
    line-height: 46px;
    font-size: 16px;
    color: white;
    background-color: #305db8;
    border-radius: 3px;
}

.facebook-btn:before {
    content: ' ';
    position: relative;
    top: 8px;
    display: inline-block;
    height: 28px;
    padding: 0 23px;
    margin-right: 20px;
    border-right: #2b54a5 solid 1px;
    background-image: url("../img/facebook-icon.png");
    background-repeat: no-repeat;
    background-position: center;
}

.facebook-btn:hover {
    cursor: pointer;
    background-color: #264b96;
}

.google-plus-btn {
    float: right;
    width: 157px;
    line-height: 46px;
    font-size: 16px;
    color: white;
    background-color: #df4a32;
    border-radius: 3px;
}

.google-plus-btn:before {
    content: ' ';
    position: relative;
    top: 8px;
    display: inline-block;
    height: 28px;
    padding: 0 23px;
    margin-right: 25px;
    border-right: #c8422d solid 1px;
    background-image: url("../img/google-plus-icon.png");
    background-repeat: no-repeat;
    background-position: center;
}

.google-plus-btn:hover {
    cursor: pointer;
    background-color: #c3412c;
}

.form-or-block {
    line-height: 0.5;
    text-align: center;
}

.form-or-text {
    display: inline-block;
    position: relative;
    font-size: 14px;
    margin-top: 33px;
    margin-bottom: 18px;
    color: #848484;
}

.form-or-text:before,
.form-or-text:after {
    content: '';
    position: absolute;
    border-top: 1px #eaeaea solid;
    top: 3px;
    width: 145px;
}

.form-or-text:before {
    right: 100%;
    margin-right: 20px;
}

.form-or-text:after {
    left: 100%;
    margin-left: 20px;
}

.form-signup-input {
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 9px;
    border-radius: 3px;
    padding: 17px 0 17px 17px;
    border: 1px solid #eaeaea;
    color: #434343;
    outline: none;
    transition: .2s linear margin-bottom;
}

.form-signup-input::placeholder {
    color: #bebebe;
}

.form-signup-input:focus {
    margin-bottom: 17px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.form-signup-checkbox {
    margin-top: 10px;
    margin-bottom: 25px;
}

.form-signup-checkbox input[type="checkbox"] {
    opacity: 0;
}

.form-signup-checkbox label {
    position: relative;
    display: inline-block;
    padding-left: 15px;
}

.form-signup-checkbox label:hover {
    cursor: pointer;
}

.form-signup-checkbox label:before {
    position: absolute;
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid #bebebe;
    border-radius: 3px;
    position: absolute;
    bottom: -3px;
    left: -22px;
}

.form-signup-checkbox label:after {
    position: absolute;
    content: '\2714';
    color: #3cb878;
    position: absolute;
    top: 0;
    left: -17px;
}

.form-signup-checkbox input[type="checkbox"] + label::after {
    content: none;
}

.form-signup-checkbox input[type="checkbox"]:checked + label::after {
    content: "\2714";
}

.form-signup-submitbtn {
    width: 100%;
    height: 46px;
    font-size: 16px;
    background-color: #3cb878;
    border-radius: 5px;
    color: white;
    outline: none;
    border: none;
}

.form-signup-submitbtn:hover,
.form-signup-submitbtn:active {
    cursor: pointer;
    background-color: #329a65;
    outline: none;
    border: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}